<td-layout>
  <td-layout-manage-list #manageList>
    <mat-toolbar td-sidenav-content>
      <span>Tests</span>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content>
      <app-test-tree></app-test-tree>
    </mat-nav-list>
    <mat-toolbar>
      <div layout="row" layout-align="start center" flex>
        <button mat-button tdLayoutManageListToggle>
          <mat-icon>toc</mat-icon>
        </button>
        <span>Active Test Name here</span>
      </div>
    </mat-toolbar>
    <app-instruction-card></app-instruction-card>
  </td-layout-manage-list>
</td-layout>
