.action_card {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  bottom: 0; /* Sets the sticky toolbar to be on bottom */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
