<mat-card flex="33">
  <img mat-card-image src="https://placekitten.com/g/600/200">
  <!-- <mat-card-title>Card with Image First</mat-card-title> -->
  <!-- <mat-card-subtitle>100% Width Image</mat-card-subtitle> -->
  <mat-card-content>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
    <p>Instructions go here</p>
  </mat-card-content>
  <!-- <mat-divider></mat-divider> -->
</mat-card>
<mat-card class="action_card">
  <mat-card-title>
    Is the equipment connected correctly?
  </mat-card-title>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary">YES</button>
    <button mat-raised-button color="warn">NO</button>
  </mat-card-actions>
</mat-card>
