<td-layout>
  <td-navigation-drawer flex sidenavTitle="Fixate">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item>
        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}
      </a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item>
          <mat-icon>{{item.icon}}</mat-icon>{{item.title}}
        </a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer"></mat-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Fixate</span>
    </div>
    <td-layout-manage-list #manageList>
      <mat-toolbar td-sidenav-content>
        <span>Tests</span>
      </mat-toolbar>
      <mat-nav-list td-sidenav-content>
        <div>Test Tree here</div>
      </mat-nav-list>
      <router-outlet></router-outlet>
    </td-layout-manage-list>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Progress bar here</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
